*.sublime-workspace
*.rbxl.lock
node_modules
out
roblox.toml
roblox.yml
.env
build
sourcemap.json
dist
*.tsbuildinfo
.DS_Store
globalTypes.d.lua

# Normally it's a good idea to commit this. However, in this mono-repo scenario with linking
# it adds a ton of noise and no real gain. Also we have seen no gains from reproducing
# builds so we don't have a strict need for this right now.
package-lock.json
tests/bin