*.sublime-project
*.sublime-workspace
*.txt
!ModuleList.txt
*.rbxl
/TestScripts
/DataConverters
ProjectPlanning.lua
*.jar
*.rbxm
Exported.rbxm
/_Archive
AxisCameraEngine.lua
*.bat
*.jar
SpringPhysics.lua