# All public packages should only depend on public packages, without this
# users configured with .npmrc files linked to private registries will generate invalid tarballs 
# when they install the public packages.
@quentystudios:registry=https://registry.npmjs.org/
