body {
    background-color : rgb(232,232,232);
    font             : 10pt/1.2 "Open Sans","Trebuchet MS","DejaVu Sans",Geneva,sans-serif;
}

h1 {
    display     : inline;
    font-size   : 2em;
    font-weight : bold;
}

h2 {
    font-size   : 1.5em;
    font-weight : bold;
}

h3 {
    font-size   : 1.17em;
    font-weight : bold;
}







/* Table styling */
table {
    padding          : 5px;
    border-collapse  : separate;
    border-spacing   : 0px;
    empty-cells      : show;
    background-color : rgb(246,246,246);
    font-size        : 12px;
    word-wrap        : break-word;
    border           : 1px solid rgb(222,222,222);
    border-radius    : 7px;
}

table th {
    background-color : rgb(230, 230, 230);
}

table td,
table th {
    vertical-align : top;
    padding        : 3px;
}

a {
    color : rgb(110, 165, 10);
}

*:hover > a.permalink:before {
    content : ' ¶';
}




.header {
    padding                 : 4px 8px;
    background-color        : rgb(246,246,246);
    color                   : rgb(77,100,77);
    border-bottom           : 1px solid rgb(218,218,218);
    border-top-right-radius : 10px;
    border-top-left-radius  : 10px;
}


.header-items {
    float : right;
}

.header-items > * {
    display : inline-block;
    margin  : 4px 0px 0px 8px;
}



.ref-container {
    margin     : 0px auto;
    text-align : center;
}

.ref-box {
    display          : inline-block;
    width            : 900px;
    background-color : rgb(255,255,255);
    color            : rgb(65,85,65);
    text-align       : left;
    border           : 1px solid rgb(218,218,218);
    border-radius    : 10px;
}

.box-content {
    margin : 1em;
}





.member-descriptions > div > h3 {
    margin           : 1em -0.5em 0px;
    padding          : 0.5em;
    background-color : rgb(246, 246, 246);
    border           : 1px solid rgb(222, 222, 222);
    border-radius    : 4px;
}

.member-descriptions > div:target > h3 {
    background-color : rgb(222, 240, 180);
    border-color     : rgb(203, 219, 164);
}

.member-descriptions .api-member-icon {
    margin-right : 4px;
    margin-left  : 4px;
}





footer {
    width            : 900px;
    margin           : 8px auto;
    background-color : rgb(255,255,255);
    color            : rgb(65,85,65);
    text-align       : left;
    border           : 1px solid rgb(218,218,218);
    border-radius    : 10px;
    display          : table;
    border-spacing   : 1em;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    display     : inline-block;
    margin-left : 20px;
    padding     : 0;
}

footer ul li:first-child {
    margin-left: 0;
}

footer > * {
    display     : table-cell;
    white-space : nowrap;
}

footer > *:first-child {
    width:100%;
}



/* styles for prettification of source */
pre .comment { color: #558817; }
pre .constant { color: #a8660d; }
pre .escape { color: #844631; }
pre .keyword { color: #aa5050; font-weight: bold; }
pre .library { color: #0e7c6b; }
pre .marker { color: #512b1e; background: #fedc56; font-weight: bold; }
pre .string { color: #8080ff; }
pre .number { color: #f8660d; }
pre .operator { color: #2239a8; font-weight: bold; }
pre .preprocessor, pre .prepro { color: #a33243; }
pre .global { color: #800080; }
pre .user-keyword { color: #800080; }
pre .prompt { color: #558817; }
pre .url { color: #272fc2; text-decoration: underline; }

pre {
    overflow: auto;
}



/* Icons */
table .api-class-icon,
table .api-functions-icon,
table .api-methods-icon,
table .api-enum-icon,
table .api-enum-item-icon {
    margin-right : 0px;
}

.api-metamethods-icon,
.api-modules-icon,
.api-class-icon,
.api-hierarchy-icon,
.api-functions-icon,
.api-methods-icon,
.api-classes-icon,
.api-enum-icon,
.api-enum-item-icon {
    display        : inline-block;
    vertical-align : middle;
    height         : 16px;
    width          : 16px;
    margin-right   : 4px;
}

.api-modules-icon,
.api-classes-icon,
.api-class-icon {
    background-image : url('https://anaminus.github.io/api/img/icon-explorer.png');
}
/* background-position sets icon offset */

.api-hierarchy-icon, {
    background-image : url('https://anaminus.github.io/api/img/icon-objectbrowser.png');
    background-position:-48px;
}

.api-methods-icon,
.api-functions-icon {
    background-image : url('https://anaminus.github.io/api/img/icon-objectbrowser.png');
    background-position:-64px;
}
/* background-position sets icon offset */


.api-enum-icon {
    background-image    : url('https://anaminus.github.io/api/img/icon-objectbrowser.png');
    background-position : -144px;
}

.api-enum-item-icon {
    background-image    : url('https://anaminus.github.io/api/img/icon-objectbrowser.png');
    background-position : -160px;
}


.api-metamethods-icon {
    background-image : url('https://anaminus.github.io/api/img/icon-objectbrowser.png');
    background-position : -96px;
}
