name: Extension Release

on:
  workflow_dispatch:

jobs:
  extension-release:
    name: Release Extension
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: npm ci
        working-directory: tools/nevrmoree-vscode

      - name: Publish VSCode Extension
        working-directory: tools/nevermore-vscode
        run: npx vsce publish --pat ${{ secrets.MARKETPLACE_TOKEN }}