name: tests
on: [pull_request]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: '21'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          cache: true

      - name: Setup npm for GitHub Packages
        run: |
          echo -e "\n//npm.pkg.github.com/:_authToken=$GITHUB_TOKEN" >> .npmrc
          echo -e "\n//npm.pkg.github.com/:_authToken=$GITHUB_TOKEN" >> ~/.npmrc
          echo -e "\n//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc
          echo -e "\n//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Compute changed packages
        run: |
          PACKAGES=$(npx lerna ls --since origin/main --json | jq -r '.[] | select(.name != "@quenty/nevermore-cli") | .location' | tr '\n' ' ')
          echo "PACKAGES=$PACKAGES" >> $GITHUB_ENV

      - name: Setup test place project
        run: |
          echo "Setting up test place project from template..."
          cp -r tests/test-place-template tests/bin
          cd tests/bin

          echo "Installing changed packages..."
          pnpm i ${{ env.PACKAGES }}

          echo "Installing Jest..."
          pnpm add https://github.com/quentystudios/jest-lua.git

      - name: Setup Aftman
        uses: ok-nick/setup-aftman@v0.4.2
        with:
          path: tests/bin
          version: 'v0.3.0'
          token: ${{ secrets.GITHUB_TOKEN }}
          cache: true

      - name: Generate test place file
        run: rojo build default.project.json -o testBuild.rbxl
        working-directory: tests/bin

      - name: Publish test place to Roblox and run tests
        run: lune run cloud/publish-test-place.luau bin/testBuild.rbxl bin/run-tests.luau
        working-directory: tests
        env:
          ROBLOX_UNIT_TEST_API_KEY: ${{ secrets.ROBLOX_UNIT_TEST_API_KEY }}
